<section data-section-id="1" data-share="" data-category="footers" data-component-id="7fd1b1dd_04_awz" class="overflow-hidden text-center text-gray-700 transition duration-300 ease-in-out">
    <p>© 2024 Made with ❤️ for ZSTiO by <a class="hover:text-white" href="https://github.com/meetox80">nullptr</a> & <a class="hover:text-white" href="https://github.com/majusss">Kacper Majcher</a></p>
</section>

<div class="py-12"></div>