<section id="regulamin" data-section-id="2" data-share="" data-category="faqs" data-component-id="c0b652c1_05_awz" x-data="{ showContent: false }" class="py-24 overflow-hidden">
    <div class="container px-4 mx-auto">
        <div data-aos="fade-up" data-aos-delay="100" class="mb-16 md:max-w-2xl text-center mx-auto">
            <span class="inline-block mb-4 text-sm text-green-400 font-medium tracking-tighter" data-config-id="txt-ca09c1-12">Turniej FIFA</span>
            <h2 class="font-heading text-7xl lg:text-8xl text-white tracking-7xl lg:tracking-8xl" data-config-id="txt-ca09c1-1">Regulamin</h2>
        </div>
        <div data-aos="fade-up" data-aos-delay="150" class="max-w-4xl mx-auto">
            <div class="flex flex-wrap -m-1.5">
                <div data-aos="fade-up" data-aos-delay="200" class="w-full p-1.5">
                    <a x-data="{ accordion: false }" x-on:click.prevent="accordion = !accordion" class="block px-12 py-8 bg-gradient-radial-dark rounded-5xl" href="#">
                        <div class="flex flex-wrap -m-2">
                            <div class="flex-1 p-2">
                                <h3 class="text-2xl text-white tracking-2xl" data-config-id="txt-ca09c1-2">§1. Postanowienia ogólne</h3>
                                <div x-ref="container" :style="accordion ? 'height: ' + $refs.container.scrollHeight + 'px' : ''" class="overflow-hidden h-0 duration-500" style="height: 96px">
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">Poniższy Regulamin Turnieju (w skrócie „Regulamin”) dotyczy rozgrywek „Turnieju Mikołajkowego FIFA 23 w ZSTiO Jarosław”, który odbędzie się w dniach 5-6 grudnia 2024 roku.</p>
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">Organizatorem turnieju jest szkoła ZSTIO Jarosław – opiekunem i jednym z uczestników jest nauczyciel Przemysław Warecki.</p>
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">Każdy z uczestników Turnieju zobowiązany jest do zapoznania się z Regulaminem oraz jego przestrzegania. Przystąpienie do rozgrywek równoważne jest akceptacji postanowień Regulaminu.</p>
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">Udział w Turnieju jest otwarty i bezpłatny dla osób, które są uczniami ZSTiO.</p>
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">Warunkiem uczestnictwa jest wypełnienie formularza zgłoszeniowego lub zgłoszenie do opiekuna turnieju pana Przemysława Wareckiego.</p>
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">Maksymalna ilość uczestników to 32 osoby. Decyduje kolejność zapisów.</p>
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">Turniej będzie odbywał się w godzinach 15:00–18:00 (harmonogram zostanie ustalony po zgłoszeniach).</p>
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">Organizatorzy nie ponoszą odpowiedzialności za zgubione, zniszczone lub skradzione rzeczy osobiste uczestników.</p>
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">Za złamanie Regulaminu grożą kary, które szczegółowo opisuje sekcja Regulaminu pt. „Działania zabronione i kary”.</p>
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">Regulamin wchodzi w życie z dniem jego opublikowania.</p>
                                </div>
                            </div>
                            <div class="w-auto p-2">
                                <div :class="{ 'hidden': accordion }" class="relative top-1.5 hidden">
                                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="svg-ca09c1-1">
                                        <path d="M3.56969 7.79634L9.27469 13.5013C9.94844 14.1751 11.0509 14.1751 11.7247 13.5013L17.4297 7.79634" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </div>
                                <div :class="{ 'hidden': !accordion }" class="relative top-1.5 transform rotate-180">
                                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="svg-ca09c1-2">
                                        <path d="M3.56969 7.79634L9.27469 13.5013C9.94844 14.1751 11.0509 14.1751 11.7247 13.5013L17.4297 7.79634" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div data-aos="fade-up" data-aos-delay="300" class="w-full p-1.5">
                    <a x-data="{ accordion: false }" x-on:click.prevent="accordion = !accordion" class="block px-12 py-8 bg-gradient-radial-dark rounded-5xl" href="#">
                        <div class="flex flex-wrap -m-2">
                            <div class="flex-1 p-2">
                                <h3 class="text-2xl text-white tracking-2xl" data-config-id="txt-ca09c1-3">§2. System rozgrywek</h3>
                                <div x-ref="container" :style="accordion ? 'height: ' + $refs.container.scrollHeight + 'px' : ''" class="overflow-hidden h-0 duration-500" style="height: 96px">
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">W Turnieju udział biorą samodzielni gracze. Maksymalna ilość graczy to 32 osoby.</p>
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">Mecze rozgrywane są na PC, z padami od konsoli (pady we własnym zakresie).</p>
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">Turniej właściwy podzielony został na dwie fazy. Pierwsza faza to faza grupowa, natomiast druga to faza pucharowa. W fazie grupowej gracze zostaną podzieleni na 8 grup (4 graczy w każdej), z których do fazy pucharowej awansuje po 2 najlepszych graczy z każdej grupy. W fazie pucharowej zostaną rozegrane kolejno mecze 1/8 finału, ćwierćfinałowe, półfinałowe oraz finał.</p>
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">Za zwycięstwo w fazie grupowej gracz otrzymuje 3 pkt, za remis 1 pkt, za porażkę 0 pkt. W przypadku równej liczby punktów decydującym będzie wynik meczu bezpośredniego między graczami. W dalszej kolejności brana jest pod uwagę ilość zdobytych i straconych bramek.</p>
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">W systemie pucharowym obowiązuje zasada single elimination – przegrywający odpada. W przypadku remisu obowiązuje klasyczna dogrywka, a jeśli ta nie przyniesie rozstrzygnięcia, to o awansie decydują rzuty karne.</p>
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">Losowanie miejsc w grupach odbędzie się przed Turniejem.</p>
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">Mecz przerwany z przyczyn leżących po stronie Organizatora będzie bezzwłocznie powtórzony od stanu 0:0 z pełnym limitem czasu.</p>
                                </div>
                            </div>
                            <div class="w-auto p-2">
                                <div :class="{ 'hidden': accordion }" class="relative top-1.5">
                                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="svg-ca09c1-3">
                                        <path d="M3.56969 7.79634L9.27469 13.5013C9.94844 14.1751 11.0509 14.1751 11.7247 13.5013L17.4297 7.79634" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </div>
                                <div :class="{ 'hidden': !accordion }" class="hidden relative top-1.5 transform rotate-180">
                                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="svg-ca09c1-4">
                                        <path d="M3.56969 7.79634L9.27469 13.5013C9.94844 14.1751 11.0509 14.1751 11.7247 13.5013L17.4297 7.79634" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div data-aos="fade-up" data-aos-delay="400" class="w-full p-1.5">
                    <a x-data="{ accordion: false }" x-on:click.prevent="accordion = !accordion" class="block px-12 py-8 bg-gradient-radial-dark rounded-5xl" href="#">
                        <div class="flex flex-wrap -m-2">
                            <div class="flex-1 p-2">
                                <h3 class="text-2xl text-white tracking-2xl" data-config-id="txt-ca09c1-4">§3. Rozgrywka meczowa</h3>
                                <div x-ref="container" :style="accordion ? 'height: ' + $refs.container.scrollHeight + 'px' : ''" class="overflow-hidden h-0 duration-500" style="height: 96px">
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">Wszystkie mecze rozgrywane są przy pomocy gry FIFA 23 (wersja PC).</p>
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">Mecze rozgrywamy poprzez mecz towarzyski, 32 drużynami Mistrzostwa Świata w piłce nożnej w 2022 roku.</p>
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">Drużyny zostaną rozlosowane po zgłoszeniu wszystkich uczestników, organizator zastrzega sobie wybór jednej z drużyn bez losowania.</p>
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">Każdy uczestnik ma 60 sekund na dokonanie zmian w składach swoich zespołów.</p>
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">Jakiekolwiek przerwy w meczu są dozwolone wówczas, gdy gracz znajduje się przy piłce i jest na WŁASNEJ połowie.</p>
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">Organizatorzy zastrzegają sobie prawo do wyznaczenia godzin meczów. Osoby niestosujące się do nich mogą zostać usunięte z turnieju lub mecz może być zakończony wynikiem pozytywnym dla przeciwnika. Dopuszcza się maksymalnie 3 minuty spóźnienia.</p>
                                </div>
                            </div>
                            <div class="w-auto p-2">
                                <div :class="{ 'hidden': accordion }" class="relative top-1.5">
                                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="svg-ca09c1-5">
                                        <path d="M3.56969 7.79634L9.27469 13.5013C9.94844 14.1751 11.0509 14.1751 11.7247 13.5013L17.4297 7.79634" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </div>
                                <div :class="{ 'hidden': !accordion }" class="hidden relative top-1.5 transform rotate-180">
                                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="svg-ca09c1-6">
                                        <path d="M3.56969 7.79634L9.27469 13.5013C9.94844 14.1751 11.0509 14.1751 11.7247 13.5013L17.4297 7.79634" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div data-aos="fade-up" data-aos-delay="500" class="w-full p-1.5">
                    <a x-data="{ accordion: false }" x-on:click.prevent="accordion = !accordion" class="block px-12 py-8 bg-gradient-radial-dark rounded-5xl" href="#">
                        <div class="flex flex-wrap -m-2">
                            <div class="flex-1 p-2">
                                <h3 class="text-2xl text-white tracking-2xl" data-config-id="txt-ca09c1-5">§4. Ustawienia gry</h3>
                                <div x-ref="container" :style="accordion ? 'height: ' + $refs.container.scrollHeight + 'px' : ''" class="overflow-hidden h-0 duration-500" style="height: 96px">
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">Ustawienia gry będą takie same w każdym meczu.</p>
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">Długość połowy: 4 minuty.</p>
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">Poziom trudności: Klasa Światowa.</p>
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">Szybkość gry: Normalna.</p>
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">Kontuzje: Wł.</p>
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">Spalone: Wł.</p>
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">Kartki: Wł.</p>
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">Stadion: Dowolny.</p>
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">Pogoda: Dobra.</p>
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">Pora dnia: dzień/noc.</p>
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">Liczba zmian: 3.</p>
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">Sterowanie: Dowolne.</p>
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">Kamera: Domyślna.</p>
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">Zmiana ustawień gry przez graczy jest zabroniona.</p>
                                </div>
                            </div>
                            <div class="w-auto p-2">
                                <div :class="{ 'hidden': accordion }" class="relative top-1.5">
                                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="svg-ca09c1-7">
                                        <path d="M3.56969 7.79634L9.27469 13.5013C9.94844 14.1751 11.0509 14.1751 11.7247 13.5013L17.4297 7.79634" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </div>
                                <div :class="{ 'hidden': !accordion }" class="hidden relative top-1.5 transform rotate-180">
                                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="svg-ca09c1-8">
                                        <path d="M3.56969 7.79634L9.27469 13.5013C9.94844 14.1751 11.0509 14.1751 11.7247 13.5013L17.4297 7.79634" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div data-aos="fade-up" data-aos-delay="600" class="w-full p-1.5">
                    <a x-data="{ accordion: false }" x-on:click.prevent="accordion = !accordion" class="block px-12 py-8 bg-gradient-radial-dark rounded-5xl" href="#">
                        <div class="flex flex-wrap -m-2">
                            <div class="flex-1 p-2">
                                <h3 class="text-2xl text-white tracking-2xl" data-config-id="txt-ca09c1-6">§5. Działania zabronione i kary</h3>
                                <div x-ref="container" :style="accordion ? 'height: ' + $refs.container.scrollHeight + 'px' : ''" class="overflow-hidden h-0 duration-500" style="height: 96px">
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">Następujące działania będą uznawane za niesportową grę:</p>
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">a) Celowe wyłączenie komputera.</p>
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">b) Niesportowe zachowanie, niewłaściwe, nieprofesjonalne działania skierowane przeciwko innemu graczowi.</p>
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">c) Włączanie pauzy w grze w trakcie posiadania piłki przez rywala.</p>
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">d) Gra na czas poprzez zbyt długie podawanie w obronie na własnej połowie w celu utrzymania korzystnego wyniku.</p>
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">e) Oczywiste pozwolenie przeciwnikowi wygrania meczu.</p>
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">W przypadku wykrycia naruszenia jednego z punktów uznawanego za niesportową grę przez jakiegokolwiek gracza, oskarżony gracz według uznania Organizatorów może otrzymać ostrzeżenie, przegrać przez walkower lub zostać zdyskwalifikowany z turnieju. Organizator może określić inne działania uznawane za niesportowe.</p>
                                </div>
                            </div>
                            <div class="w-auto p-2">
                                <div :class="{ 'hidden': accordion }" class="relative top-1.5">
                                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="svg-ca09c1-9">
                                        <path d="M3.56969 7.79634L9.27469 13.5013C9.94844 14.1751 11.0509 14.1751 11.7247 13.5013L17.4297 7.79634" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </div>
                                <div :class="{ 'hidden': !accordion }" class="hidden relative top-1.5 transform rotate-180">
                                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="svg-ca09c1-10">
                                        <path d="M3.56969 7.79634L9.27469 13.5013C9.94844 14.1751 11.0509 14.1751 11.7247 13.5013L17.4297 7.79634" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div data-aos="fade-up" data-aos-delay="700" class="w-full p-1.5">
                    <a x-data="{ accordion: false }" x-on:click.prevent="accordion = !accordion" class="block px-12 py-8 bg-gradient-radial-dark rounded-5xl" href="#">
                        <div class="flex flex-wrap -m-2">
                            <div class="flex-1 p-2">
                                <h3 class="text-2xl text-white tracking-2xl" data-config-id="txt-ca09c1-6">§5. Postanowienia koncowe</h3>
                                <div x-ref="container" :style="accordion ? 'height: ' + $refs.container.scrollHeight + 'px' : ''" class="overflow-hidden h-0 duration-500" style="height: 96px">
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">Organizator rozgrywek zastrzega sobie prawo do dokonywania zmian w regulaminie. W takim przypadku odpowiednia informacja zostanie ogłoszona na turnieju.</p>
                                    <p class="text-lg hover:text-white text-gray-300 mt-3" data-config-id="txt-ca09c1-7">Turniej FIFA 23 nie jest powiązany ani sponsorowany przez Electronic Arts Inc. ani jej licencjodawców.</p>
                                </div>
                            </div>
                            <div class="w-auto p-2">
                                <div :class="{ 'hidden': accordion }" class="relative top-1.5">
                                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="svg-ca09c1-9">
                                        <path d="M3.56969 7.79634L9.27469 13.5013C9.94844 14.1751 11.0509 14.1751 11.7247 13.5013L17.4297 7.79634" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </div>
                                <div :class="{ 'hidden': !accordion }" class="hidden relative top-1.5 transform rotate-180">
                                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="svg-ca09c1-10">
                                        <path d="M3.56969 7.79634L9.27469 13.5013C9.94844 14.1751 11.0509 14.1751 11.7247 13.5013L17.4297 7.79634" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>