<section id="sponsor" data-aos="fade-right" data-aos-delay="450" data-section-id="2" data-share="" data-category="features" data-component-id="4d2f33a1_01_awz" class="relative py-24 overflow-hidden">
    <div class="container px-4 mx-auto">
        <div class="flex flex-wrap -m-8">
            <div class="w-full p-8 flex justify-center">
                <div class="relative z-10 text-center">
                    <h2 class="font-heading mb-6 text-7xl text-white tracking-tighter-xl" data-config-id="txt-5b8a8b-1">Nasz Sponsor <br> Sokołów S.A. Tradycja od 1899</h2>
                    <p class="mb-10 text-white text-opacity-60 underline" data-config-id="txt-5b8a8b-2">*Kabanosy dla każdego uczesnika turnieju</p>
                </div>
            </div>
            <div class="w-full p-8 flex justify-center">
                <img src="/public/images/sponsor/sokolow.png" alt="" data-config-id="img-5b8a8b-1">
            </div>
        </div>
    </div>
    <img class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2" src="/background/bg-blur.png" alt="" data-config-id="img-5b8a8b-2">
</section>