---

	interface Props {
	Title: string;
	}

	const { Title } = Astro.props;

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{Title}</title>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&amp;display=swap" rel="stylesheet">
    <link href="https://api.fontshare.com/v2/css?f[]=clash-grotesk@400,300,500&amp;display=swap" rel="stylesheet">
    
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js" defer></script>

    <script src="//unpkg.com/alpinejs" defer></script>
  </head>
  <body>
    <slot />
    
    <script>
      window.onload = () => {
        AOS.init();
      };
    </script>
  </body>
</html>
